# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Arpit\Downloads\CSE_219_DataVisualizer_Final_Project-master\CSE_219_DataVisualizer_Final_Project-master\FinalProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
