.chart-legend {
    -fx-background-color:  transparent;
}
.chart-plot-background{
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 4px;
}
.axis{
    -fx-tick-label-fill: black;
}
.axis-tick-mark{
   -fx-stroke: black;
   -fx-stroke-width:3px;
}
.axis-minor-tick-mark{
    -fx-stroke:black;
}
.chart-series-line{
    -fx-stroke: transparent;
}